langchain
dotenv
langchain_openai
scikit-learn
streamlit
grandalf
langchain_community
pypdf
unstructured
pdfminer.six
pi_heif
unstructured_inference
pdf2image
langchain-text-splitters
langchain_experimental

